.hdr-controls {
  position: fixed;
  top: 16px;
  left: 16px;
  display: grid;
  gap: 4px;
  padding: 12px 16px;
  border-radius: 12px;
  background: rgb(0 0 0 / 70%);
  backdrop-filter: blur(8px);
}

.view-transition-enabled .hdr-controls {
  view-transition-name: hdr-controls;
}

.hdr-switch {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  user-select: none;
}

.hdr-switch__label {
  font-size: 0.75rem;
}

.hdr-support {
  margin: 0;
  font-size: 0.75rem;
  color: rgb(255 255 255 / 80%);
}

.hdr-warning {
  font-size: 0.625rem;
}
